
/* Rowan Taylor  CSS page
Southern Illinois University  Developed: 9-13-2026  Tested: 9-13-2026  
*/
body {
    width: 725px;
    background-color: #C9D9C5;   /* light green */
    margin: 0px auto;
}

main {
   width: 50%;
   height: 500px;
   background-color: #C9D9C5;   /* still green */
   float: left;
}

aside {
   width: 50%;
   height: 500px;
   background-color: white;
   float: right;
}
h1, h2 {
    padding: 10px;
}

p {
    padding-left: 5px;
    padding-right: 5px;
}
footer {
    clear: both;
}
ul {
    padding-left: 10px;
}
li {
    padding-left: 10px;  /* space between the bullet and text */
}

img {
    position: static;
}

.bluetouch img {
    border: 2px solid #B5D3F7;  /* slightly brighter blue */
    margin: 0;
    padding: 0;
    border-radius: 50px;
    position: center;
    right: 10px;
    top: 10px;
}
